<p id="notice"><%= notice %></p>

<h1>Subscriptions</h1>
<% if @subscriptions == nil %>
  <h3> This User has no Subscription yet. </h3>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Subscribed user</th>
          <th>Subscription date</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @subscriptions.each do |subscription| %>
          <tr>
            <td><%= subscription.subscribed_user_id %></td>
            <td><%= subscription.subscription_date %></td>
            <td><%= link_to 'Destroy', subscription_path(subscription) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<br>
