<p>
  <strong>Subscribed user:</strong>
  <%= @subscription.subscribed_user_id %>
</p>

<p>
  <strong>Subscription date:</strong>
  <%= @subscription.subscription_date %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
