<h1>Wishlists</h1>
<% if @wishlists == nil %>
  <h3> This User has no Wishlists yet. </h3>
  <% else %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Event Name</th>
          <th>Wishlist date</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @wishlists.each do |wishlist| %>
          <tr>
            <td><%= link_to wishlist.event_name, event_path(wishlist.event_id) %></td>
            <td><%= wishlist.wishlist_date %></td>
            <td><%= link_to 'Destroy', wishlist_path(wishlist) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>        
<br>
